.summary {
    display: flex;
    flex-direction: row;
    max-width: 1000px;
    margin: auto;
    padding: 10px;

    &__cards__grid-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 25px;
    }

    &__card {
        border: none;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        margin-bottom: 1rem;
        margin-top: 0.25rem;

        &-header {
            background-color: #f8f9fa;
            // border-bottom: 1px solid var(--emk-brand-color);
        }
    }


    &__container {
        margin: auto;
        transition: all 0.3s ease;
        width: 100%;

        &--open {
            margin-left: 0;
        }
    }

    &__form {
        &-check {
            margin-bottom: 0.525rem;
            ;
        }

        &-check-label {
            font-weight: normal;
        }

        &-group {
            margin-bottom: 1rem;

        }
    }

    &__select {
        display: block;
        width: 100%;
        padding: 5px 2.5rem 5px 1rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        appearance: none;
        background-color: #fff;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: right 0.75rem center;
        background-size: 16px 12px;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

        &:focus {
            border-color: #86b7fe;
            outline: 0;
            box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
        }
    }

    &__arrow-icon {
        width: 50px;
        height: 50px;
        border: 1px solid var(--emk-brand-color);
        border-radius: 100%;
        cursor: pointer;
        position: fixed;
        top: 43%;
        right: 1%;
        margin: 30px;
        transition: 0.2s all;
        background: white;
        z-index: 2;

        &:hover {
            transform: scale(1.05);
        }
    }

}


.slide-enter-active,
.slide-leave-active {
    transition: all 0.3s ease;
}

.slide-enter-from,
.slide-leave-to {
    transform: translateX(100%);
    opacity: 0;
}