.footer {
    &-wrapper {
        border-top: 1px solid var(--emk-brand-color);
        background: white;
    }

    &-container {
        padding-top: 15px;
    }

    &__support {
        &__text {
            color: #055cfd;
            transition: 0.2s all;
            cursor: pointer;

            &:hover {
                color: var(--emk-brand-color);
            }
        }

    }
}