.content-container {
    margin: auto;

    @include xxl {
        max-width: 1320px;
    }

    @include xl {
        max-width: 1140px;
    }

    @include lg {
        max-width: 960px;
    }

    @include md {
        max-width: 720px;
    }

    @include sm {
        max-width: 540px;
    }
}

.main-content {
    min-height: 90vh;
    font-size: large;
    background: #e0e2e454;
}

.hidden {
    display: none;
}

label {
    cursor: pointer;
}

a {
    color: black;
    text-decoration: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}